:root {
	--black-text: #333;
	--bg-grey-light: #f8f8f8;
	--green: #2ca800;
	--green-ligth: #dcf0de;
	--blue: #0000ff;
	--blue-light: #e8e8f5;
	--red: #ff0000;
	--red-light: #ffaeae;
	--white-ligth: #fafafa;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	color: var(--black-text);
}

html {
	color-scheme: dark light;
}

body {
	font-family: "Inter", sans-serif;
	padding: 0 8vw;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3 {
	font-family: "Space Grotesk", sans-serif;
}

i {
	font-size: 1.125rem;
}

.none {
	display: none !important;
}

/* HEADER */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}

.fa-github {
	font-size: 1.5rem;
}

.link-github {
	display: flex;
	gap: 8px;
	align-items: center;
}

/* TEXT SECTION */

.text-section {
	background-color: var(--bg-grey-light);
	padding: 24px 16px;
}

.start-container {
	display: flex;
	gap: 48px;
}

.instructions {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
}

.manual {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.manual-text {
	display: flex;
	gap: 12px;
	font-weight: 700;
}

.manual-details {
	padding-left: 24px;
}

#random-ships {
	border: none;
	background-color: transparent;
	text-decoration: underline dashed 0.5px;
	text-underline-offset: 8px;
	color: var(--blue);
	font-weight: 600;
}

#random-ships:hover {
	opacity: 50%;
}

#random-ships > i {
	margin-right: 8px;
	color: var(--blue);
}

/* .text-container {
	padding: 16px 0;
	font-size: 1.15rem;
	text-align: center;
} */

/* SHIP CARDS */

.ship-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.ship-card {
	padding: 12px 24px;
	border: 1px solid var(--blue);
	border-radius: 4px;
	background-color: var(--white-ligth);
	box-shadow: 2px 2px 4px 0px rgba(0, 0, 255, 0.25);

	display: flex;
	justify-content: space-around;
	gap: 16px;
}

.ship-card > p {
	color: var(--blue);
	font-weight: 700;
}

.ship-card:not(.placed):hover,
.ship-card.selected {
	cursor: pointer;
	background-color: var(--blue-light);
}

.ship-card.placed {
	opacity: 20%;
}

/* BUTTONS */
.btn-container {
	margin: 0 auto;
}

/* GAME CONTAINER */

.game-container {
	display: flex;
	gap: 40px;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 40px;
}

.grid-title {
	text-align: center;
	opacity: 40%;
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

.cell {
	min-width: 24px;
	width: 40px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:not(.coordX):not(.coordY) {
	border: 1px dotted grey;
}

.ship-placed {
	background-color: lightblue;
}

.hit {
	background-color: lightgreen;
}

.missed {
	background-color: lightcoral;
}

.ship-preview {
	background-color: lightseagreen;
}

.ship-placed.ship-preview,
.not-possible {
	background-color: red;
}

.game-over {
	font-size: 3rem;
	font-weight: 800;

	margin-top: 16px;
}

.coordX,
.coordY {
	align-items: center;
	justify-self: center;
}

/* Text messages */
.text-container.errorMsg {
	background-color: rgba(228, 228, 228, 0.5);
	border-radius: 8px;
}
.errorMsg {
	color: red;
	font-weight: 500;
}
