*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	color-scheme: dark light;
}

body {
	font-family: "Inter", sans-serif;
	padding: 1rem 10vw 2rem 10vw;

	display: flex;
	flex-direction: column;
	gap: 16px;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

h1,
h2,
h3 {
	font-family: "Space Grotesk", sans-serif;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
}

.none {
	display: none !important;
}

/* TEXT CONTAINER */

.text-container {
	padding: 16px 0;
	font-size: 1.15rem;
	text-align: center;
}

/* SHIP CARDS */

.ship-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.ship-card {
	padding: 8px 32px;
	border: 2px solid lightblue;
	border-radius: 4px;

	display: flex;
	justify-content: space-around;
	gap: 16px;
}
.ship-card:not(.placed):hover {
	cursor: pointer;
	border: 2px solid lightseagreen;
}

.ship-card.selected {
	border: 2px solid lightseagreen;
	color: lightseagreen;
}

.ship-card.placed {
	border: 2px solid lightseagreen;
	background-color: lightseagreen;
	color: white;
}

.ship-name {
	font-weight: 600;
}

/* BUTTONS */
.btn-container {
	margin: 0 auto;
}

button {
	padding: 8px 24px;
}

/* GAME CONTAINER */

.game-container {
	display: flex;
	gap: 40px;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 40px;
}

.grid-title {
	text-align: center;
	opacity: 40%;
}

.gameboard {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
}

.cell {
	min-width: 24px;
	width: 40px;
	aspect-ratio: 1/1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:not(.coordX):not(.coordY) {
	border: 1px dotted grey;
}

.ship-placed {
	background-color: lightblue;
}

.hit {
	background-color: lightgreen;
}

.missed {
	background-color: lightcoral;
}

.ship-preview {
	background-color: lightseagreen;
}

.ship-placed.ship-preview,
.not-possible {
	background-color: red;
}

.game-over {
	font-size: 3rem;
	font-weight: 800;

	margin-top: 16px;
}

.coordX,
.coordY {
	align-items: center;
	justify-self: center;
}

/* Text messages */
.text-container.errorMsg {
	background-color: rgba(228, 228, 228, 0.5);
	border-radius: 8px;
}
.errorMsg {
	color: red;
	font-weight: 500;
}
